Repository amicable-development-center/project-jam, pull requests merged in 2025-06, with the labels that each got.

#9 chore: 폰트 추가
  src/app/styles/font/Pretendard-Bold.woff
  src/app/styles/font/Pretendard-Medium.woff
  src/app/styles/font/Pretendard-Regular.woff
  src/app/styles/font/Pretendard-SemiBold.woff
Labels: status: done, priority: high

#21 Feat/login 로그인 페이지 ui 및 파이어베이스 auth 연동
  pnpm-lock.yaml
  src/features/auth/hooks/useGithubLogin.ts
  src/features/auth/hooks/useGoogleLogin.ts
  src/features/auth/ui/LoginForm.tsx
  src/features/auth/ui/LoginTitle.tsx
  src/features/auth/ui/SignupGuide.tsx
  src/features/auth/ui/SocialLoginButton.tsx
  src/pages/home/ui/HomePage.tsx
  src/pages/login/ui/LoginPage.tsx
  src/shared/firebase/firebase.ts
Labels: status: done

#23 feat: 소셜 로그인 통합 및 상태 관리, 라우터 레이아웃 분리
  src/app/routes/App.tsx
  src/app/routes/AuthLayout.tsx
  src/app/routes/MainLayout.tsx
  src/features/auth/hooks/useGithubLogin.ts
  src/features/auth/hooks/useGoogleLogin.ts
  src/features/auth/hooks/useSocialLogin.ts
  src/features/auth/ui/LoginButton.tsx
  src/features/auth/ui/LoginForm.tsx
  src/features/auth/ui/LogoutButton.tsx
  src/features/auth/ui/SocialLoginButton.tsx
  src/pages/login/ui/LoginPage.tsx
  src/shared/hooks/useAuthObserver.ts
  src/shared/stores/authStore.ts
  src/widgets/Header/Header.tsx
Labels: status: done

#24 feat: useDraggable 훅 생성
  src/app/styles/theme.ts
  src/entities/projects/types/projects.ts
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/entities/projects/ui/projects-stats/ProjectsStats.tsx
  src/features/projects/hook/useProjectInsert.ts
  src/pages/home/ui/HomePage.tsx
  src/shared/hooks/useDraggable.tsx
  src/shared/react-query/queryClient.ts
  src/shared/ui/DragScrollContainer.tsx
  src/shared/user/types/user.ts
  src/shared/user/ui/UserProfileAvatar.tsx
  src/shared/user/ui/UserProfileWithNamePosition.tsx
  src/widgets/hero/ui/Hero.tsx
Labels: priority: medium

#28 feat: project 게시글 삭제 api 추가
  src/entities/projects/api/projectsAPi.ts
  src/entities/projects/queries/useProjectsItem.ts
  src/entities/projects/types/firebase.ts
  src/features/projects/api/projdectsApi.ts
  src/features/projects/queries/useProjectDelete.ts
  src/pages/project-detail/ui/ProjectDetailPage.tsx
Labels: type: feat

#27 chore: 타입 수정
  src/entities/projects/types/projects.ts
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/features/projects/hook/useProjectInsert.ts
  src/shared/hooks/useDraggable.ts
  src/shared/types/schedule.ts
  src/shared/types/user.ts
  src/shared/ui/user/UserProfileAvatar.tsx
  src/shared/ui/user/UserProfileWithNamePosition.tsx
  src/shared/user/types/user.ts
Labels: type: chore, priority: low

#41 refactor: 게시글 등록 완료 시 해당 게시글로 이동
  src/features/projects/hook/useProjectInsertForm.ts
  src/features/projects/queries/useProjectInsert.ts
  src/pages/project-detail/ui/ProjectDetailPage.tsx
  src/pages/project-insert/ui/ProjectInsertPage.tsx
  src/shared/ui/project-detail/InfoWithIcon.tsx
Labels: type: feat

#43 지원하기 api 추가
  src/entities/projects/queries/useProjectsItem.ts
  src/features/projects/api/projectsApi.ts
  src/features/projects/hook/useApplyFrom.tsx
  src/features/projects/queries/useProjectApply.ts
  src/features/projects/ui/ProjectApplyForm.tsx
  src/pages/project-detail/ui/ProjectDetailPage.tsx
Labels: type: feat

#50 chore: package.json base homepage 설정
  package.json
  src/app/routes/App.tsx
  vercel.json
Labels: type: chore

#54 Feat/profile 유저 프로젝트 리스트 편집모드 추가(삭제/전체삭제기능)
  src/entities/user/ui/user-profile/ProjectTabPanel.tsx
  src/entities/user/ui/user-profile/TapWithBadge.tsx
  src/entities/user/ui/user-profile/UserProfileCard.tsx
  src/entities/user/ui/user-profile/UserProfileProjectList.tsx
  src/features/projects/api/projectsApi.ts
  src/pages/user-profile/ui/UserNotFound.tsx
  src/pages/user-profile/ui/UserProfilePage.tsx
  src/shared/hooks/useCountdown.ts
  src/shared/stores/projectStore.ts
  src/shared/ui/DeleteButton.tsx
  src/shared/ui/ProjectCard.tsx
  src/shared/ui/SnackbarAlert.tsx
Labels: type: feat, type: refactor

#55 Feat/insert 페이지 step2 메인 컴포넌트 및 카드 컴포넌트 전체 구현
  src/entities/projects/ui/project-insert/ProjectExpectedPeriodCard.tsx
  src/entities/projects/ui/project-insert/ProjectPositionsCard.tsx
  src/entities/projects/ui/project-insert/ProjectTeamSizeCard.tsx
  src/entities/projects/ui/project-insert/ProjectTechStackCard.tsx
  src/features/projects/hook/useProjectInsertForm.ts
  src/features/projects/ui/project-insert/Step2.tsx
  src/pages/project-insert/ui/ProjectInsertPage.tsx
  src/pages/project-insert/ui/StepBox.tsx
  src/pages/project-insert/ui/TopTitle.tsx
  src/shared/ui/project-insert/SimpleFormCard.tsx
Labels: type: feat, type: bug

#57 feat: users에 내가 등록한 프로젝트 리스트 추가
  src/features/projects/api/userAPi.ts
  src/features/projects/hook/useProjectInsertForm.ts
  src/features/projects/queries/useProjectInsert.ts
  src/shared/api/userApi.ts
  src/shared/queries/useUserProfile.ts
  src/shared/types/user.ts
Labels: type: feat

#58 Feat/profile - 유저 프로필 수정기능 추가
  src/app/routes/PrivateRoute.tsx
  src/entities/user/api/userApi.ts
  src/entities/user/hooks/useSignUp.ts
  src/entities/user/hooks/useUpdateUser.ts
  src/entities/user/hooks/useUpdateUserForm.ts
  src/entities/user/ui/SubmitButton.tsx
  src/entities/user/ui/UpdateUserForm.tsx
  src/entities/user/ui/user-profile/UserProfileCard.tsx
  src/features/auth/hooks/useSocialLogin.ts
  src/features/auth/hooks/useUserProfile.ts
  src/features/projects/hook/useProjectInsertForm.ts
  src/pages/home/ui/HomePage.tsx
  src/pages/login/ui/LoginPage.tsx
  src/pages/signup/ui/SignUpPage.tsx
  src/pages/user-profile/ui/UserProfilePage.tsx
  src/shared/api/userApi.ts
  src/shared/types/project.ts
Labels: type: feat, type: refactor

#59 feat: 프로젝트 삭제 대신 모집 마감 버튼 추가
  src/features/projects/api/projectsApi.ts
  src/features/projects/queries/useProjectDone.ts
  src/features/projects/ui/ProjectDelete.tsx
  src/features/projects/ui/ProjectLike.tsx
  src/pages/project-detail/ui/ProjectDetailPage.tsx
Labels: type: feat

#63 feat: application db 연결 및 기능 구현
  src/entities/projects/api/getProjectApplicationsApi.ts
  src/entities/projects/queries/useGetProjectApplications.ts
  src/entities/projects/ui/post-info/ProjectApply.tsx
  src/entities/projects/ui/post-info/ProjectPostInfo.tsx
  src/entities/projects/ui/project-collection-tab/ProjectCollectionTabPanel.tsx
  src/features/projects/api/createProjectApplicationsApi.ts
  src/features/projects/queries/useCancelProjectApplication.ts
  src/features/projects/queries/useCreateProjcetApplications.ts
  src/features/projects/queries/useCreateProjectLike.ts
  src/features/projects/ui/ProjectApplyForm.tsx
  src/pages/project-detail/ui/ProjectDetailPage.tsx
  src/shared/react-query/queryKey.ts
  src/shared/stores/applicationsStore.ts
  src/shared/types/project.ts
Labels: type: feat, type: bug, type: refactor

#64 Feat/profile - 유저프로필에서 좋아요/관심 프로젝트 삭제 기능 구현
  src/app/routes/App.tsx
  src/app/routes/PrivateRoute.tsx
  src/entities/projects/api/getProjectApplicationsApi.ts
  src/entities/projects/api/getProjectLikeApi.ts
  src/entities/projects/queries/useGetProjectApplications.ts
  src/entities/projects/ui/liked-projects/LikedProjectsList.tsx
  src/entities/projects/ui/profile-page-projects-card/ProjectCard.tsx
  src/entities/projects/ui/project-collection-tab/ProjectCollectionContainer.tsx
  src/entities/projects/ui/project-collection-tab/ProjectCollectionTab.tsx
  src/entities/projects/ui/project-collection-tab/ProjectCollectionTabPanel.tsx
  src/entities/projects/ui/projects-card/EmptyProjectCard.tsx
  src/entities/user/hooks/useSignUp.ts
  src/entities/user/ui/user-profile/EmptyProjectCard.tsx
  src/entities/user/ui/user-profile/ProjectTabPanel.tsx
  src/entities/user/ui/user-profile/UserProfileCard.tsx
  src/features/auth/hooks/useSocialLogin.ts
  src/features/projects/api/projectsApi.ts
  src/features/projects/api/userAPi.ts
  src/pages/login/ui/LoginPage.tsx
  src/pages/signup/ui/SignUpPage.tsx
  src/pages/user-profile/ui/UserProfilePage.tsx
  src/shared/hooks/useAuthObserver.ts
  src/shared/libs/utils/experienceLabel.ts
  src/shared/stores/likeStore.ts
  src/shared/stores/snackbarStore.ts
  src/shared/types/project.ts
  src/shared/ui/GlobalSnackbar.tsx
  src/shared/ui/LogoBox.tsx
  src/shared/ui/user/UserProfileAvatar.tsx
  src/shared/ui/user/UserProfileWithNamePosition.tsx
  src/widgets/Header/Header.tsx
Labels: type: feat, type: refactor

#65 refactor: 프로젝트 등록하기 파일 분리 최종
  src/entities/projects/ui/project-insert/ProjectRequirementsCard.tsx
  src/features/projects/hook/useApplyFrom.ts
  src/features/projects/hook/useInsertStep1.ts
  src/features/projects/hook/useInsertStep2.ts
  src/features/projects/hook/useInsertStep3.ts
  src/features/projects/hook/useInsertStep4.ts
  src/features/projects/hook/useProjectInsertForm.ts
  src/features/projects/type/project-update.ts
  src/features/projects/ui/project-insert/PageNaviBtn.tsx
  src/features/projects/ui/project-insert/Step1.tsx
  src/features/projects/ui/project-insert/Step2.tsx
  src/features/projects/ui/project-insert/Step3.tsx
  src/features/projects/ui/project-insert/Step4.tsx
  src/pages/project-insert/ui/ProjectInsertPage.tsx
  src/shared/libs/utils/pagination.ts
  src/shared/libs/utils/paginnation.ts
  src/shared/libs/utils/projectInsert.ts
  src/shared/types/project.ts
  src/shared/ui/project-insert/StepWhiteBox.tsx
  src/shared/ui/project-insert/TextWithEmoji.tsx
Labels: type: refactor

#66 feat: scroll 기능 구현
  package.json
  src/app/entry/main.tsx
  src/app/routes/App.tsx
  src/entities/projects/ui/liked-projects/LikedProjectsList.tsx
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/entities/search/hooks/useProjectSearch.ts
  src/features/projects/api/createProjectApplicationsApi.ts
  src/features/projects/hook/useProjectInsertForm.ts
  src/features/projects/ui/ProjectApplyForm.tsx
  src/pages/project-list/ui/ProjectListPage.tsx
  src/shared/libs/utils/measureHmr.ts
  src/shared/libs/utils/scrollUtils.ts
  src/shared/ui/ScrollToTop.tsx
  vite.config.ts
Labels: type: feat, type: refactor

#68 refactor: 지원하기, 좋아요 hook 리팩토링
  src/app/styles/global.css
  src/features/projects/hooks/useApplyForm.ts
  src/features/projects/hooks/useApplyFrom.ts
  src/features/projects/hooks/useOptimisticProjectLike.ts
  src/features/projects/queries/useCancelProjectApplication.ts
  src/features/projects/queries/useCreateProjectApplications.ts
  src/features/projects/queries/useCreateProjectLike.ts
  src/features/projects/ui/ProjectApplyForm.tsx
  src/features/projects/ui/ProjectLike.tsx
Labels: type: refactor

#71 feat: 메인홈 꾸미기 완료
  src/entities/projects/ui/profile-page-projects-card/ProjectCard.tsx
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/entities/projects/ui/projects-stats/HowToStart.tsx
  src/entities/projects/ui/projects-stats/LetsGoBox.tsx
  src/pages/home/ui/HomePage.tsx
  src/shared/ui/DragScrollContainer.tsx
  src/shared/ui/home/WhiteInfoBox.tsx
  src/shared/ui/icons/CommonIcons.tsx
  src/shared/ui/user/UserProfileAvatar.tsx
  src/shared/ui/user/UserProfileWithNamePosition.tsx
  src/widgets/hero/ui/HowToStartTitle.tsx
Labels: type: refactor

#75 feat 이메일 기능 구현
  .gitignore
  package.json
  pnpm-lock.yaml
  src/entities/projects/ui/post-info/ProjectLeader.tsx
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/entities/search/hooks/useProjectSearch.ts
  src/entities/search/ui/SearchForm.tsx
  src/entities/search/ui/SearchInputHistory.tsx
  src/features/email/api/emailApi.ts
  src/features/email/hooks/useEmailForm.ts
  src/features/email/queries/useSendEmail.ts
  src/features/email/types/email.ts
  src/features/email/ui/EmailField.tsx
  src/features/email/ui/EmailModal.tsx
  src/features/email/ui/MessageField.tsx
  src/features/email/ui/PositionSelect.tsx
  src/features/email/ui/SubjectField.tsx
  src/pages/project-detail/ui/ProjectDetailPage.tsx
  src/shared/ui/pagination/Pagination.tsx
Labels: type: feat, type: bug, type: refactor

#77 마지막 배포
  .gitignore
  package.json
  pnpm-lock.yaml
  src/entities/projects/api/getProjectLikeApi.ts
  src/entities/projects/api/projectsApi.ts
  src/entities/projects/hooks/useDeleteProjectsMutation.ts
  src/entities/projects/queries/useGetProjectLike.ts
  src/entities/projects/ui/post-info/ProjectLeader.tsx
  src/entities/projects/ui/project-insert/ProjectCategoryCard.tsx
  src/entities/projects/ui/project-insert/ProjectPreferentialCard.tsx
  src/entities/projects/ui/project-insert/ProjectScheduleManagementCard.tsx
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/entities/projects/ui/projects-detail/ProjectDescription.tsx
  src/entities/search/hooks/useProjectSearch.ts
  src/entities/search/ui/SearchForm.tsx
  src/entities/search/ui/SearchInputHistory.tsx
  src/features/email/api/emailApi.ts
  src/features/email/hooks/useEmailForm.ts
  src/features/email/queries/useSendEmail.ts
  src/features/email/types/email.ts
  src/features/email/ui/EmailField.tsx
  src/features/email/ui/EmailModal.tsx
  src/features/email/ui/MessageField.tsx
  src/features/email/ui/PositionSelect.tsx
  src/features/email/ui/SubjectField.tsx
  src/features/projects/api/projectsApi.ts
  src/features/projects/hooks/useApplyForm.ts
  src/features/projects/hooks/useInsertStep1.ts
  src/features/projects/hooks/useInsertStep2.ts
  src/features/projects/hooks/useInsertStep3.ts
  src/features/projects/hooks/useInsertStep4.ts
  src/features/projects/hooks/useProjectInsertForm.ts
  src/features/projects/ui/ProjectDelete.tsx
  src/features/projects/ui/ProjectLike.tsx
  src/features/projects/ui/project-insert/Step3.tsx
  src/pages/project-detail/ui/ProjectDetailPage.tsx
  src/pages/user-profile/ui/UserProfilePage.tsx
  src/shared/hooks/useAuthObserver.ts
  src/shared/libs/utils/projectDetail.ts
  src/shared/libs/utils/projectInsert.ts
  src/shared/react-query/queryKey.ts
  src/shared/types/schedule.ts
  src/shared/ui/LogoBox.tsx
  src/shared/ui/icons/logo.svg
  src/shared/ui/pagination/Pagination.tsx
  src/widgets/Header/Header.tsx
Labels: status: done

#86 fix: css 반응형 수정 및 여러가지 레이아웃 구조 변경, 메인 애니메이션 추가
  README.md
  src/app/README.md
  src/entities/README.md
  src/entities/projects/ui/projects-card/ProjectCard.tsx
  src/entities/projects/ui/projects-detail/ProjectInfo.tsx
  src/entities/projects/ui/projects-stats/HowToStart.tsx
  src/entities/projects/ui/projects-stats/ProjectsStats.tsx
  src/features/README.md
  src/features/email/api/emailApi.ts
  src/features/email/hooks/useAutoFocus.ts
  src/features/email/hooks/useEmailForm.ts
  src/features/email/hooks/useFormValidation.ts
  src/features/email/types/email.ts
  src/features/email/ui/EmailField.tsx
  src/features/email/ui/EmailModal.tsx
  src/features/email/ui/MessageField.tsx
  src/features/email/ui/PositionSelect.tsx
  src/features/email/ui/SubjectField.tsx
  src/features/projects/hooks/useOptimisticProjectLike.ts
  src/features/projects/ui/ProjectLike.tsx
  src/pages/README.md
  src/pages/home/ui/HomePage.tsx
  src/pages/project-detail/ui/ProjectDetailPage.tsx
  src/shared/README.md
  src/shared/hooks/useCountUp.ts
  src/shared/ui/LogoBox.tsx
  src/shared/ui/home/WhiteInfoBox.tsx
  src/widgets/Footer/Footer.tsx
  src/widgets/Header/Header.tsx
  src/widgets/README.md
  vite.config.ts
Labels: type: feat, type: bug, type: refactor

#93 hotfix: 배포 전 마지막 픽스
  src/app/routes/AuthLayout.tsx
  src/app/routes/MainLayout.tsx
  src/pages/project-insert/ui/ProjectInsertPage.tsx
  src/shared/ui/DevelopersDropdown.tsx
  src/widgets/Footer/Footer.tsx
  src/widgets/Footer/index.ts
Labels: type: bug

#95 chore: logo
  src/app/index.html
Labels: type: chore
